.search-container {
    width: 98vw;
    margin-bottom: 1rem;

    input {
        width: 100%;
        padding: 0.5rem;
        color: #837b99;
        outline: none;
        background: #302c3e;
        border: 2px solid transparent;
        border-radius: 6px;
        font-weight: 400;
        font-size: 13px;
    }
}

.filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    overflow-x: scroll;

    .filter-button {
        padding: 0.5rem 1rem;
        white-space: nowrap;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 12px;
        transition: background-color 0.3s;
        background: inherit;
        border: 2px solid #332e42;
        margin: .3rem;

        &:hover {
            background-color: #5a3bbf;
        }
    }

    .selected {
        background-color: #7658ed;
    }
}

.section {
    margin: .5rem;
}

.game-list {
    display: flex;
    overflow-x: scroll;
    padding: .4rem;

    img {
        height: 14rem;
        width: 10rem;
        border-radius: 0.5rem;
        margin-right: 9px;
        border: 2px solid white;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.5rem;
        margin-right: 9px;
        border: 2px solid white;
    }

}


.game-card {
    position: relative;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }

    button {
        background: none;
        position: absolute;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        transition: background 0.3s;
        padding: .3rem;

        img {
            height: 1.5rem;
            width: 1.5rem;
            background: white;
        }
    }

}

.favourite-games {
    padding: 1rem;
}

@media (max-width: 456px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


p {
    padding: 1rem;
}