.shimmer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section {
        display: flex;
        min-width: 100%;
        overflow-x: scroll;
    }
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.card {
    background: #25222d;
    animation: shimmer 2.5s infinite linear;
    background-image: linear-gradient(90deg,
            #25222d 0%,
            #332e42 50%,
            #25222d 100%);
    background-size: 400px 100%;
    min-height: 14rem;
    min-width: 10rem;
    border-radius: 0.5rem;
    margin-right: 9px;
}